body{
    color: rgb(253, 254, 253); /*ivory*/
    background-color:rgb(230, 160, 41); /*midnight*/
    height: 100%;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /*very high number*/
    display: flex; /*easier to manipulate positions*/
    justify-content: space-between; /*separate logo and other links*/
    padding: 10px;

    background: rgb(122, 21, 21); /*dark red*/
    box-shadow: 0 0.6vh rgba(122, 21, 21, 0.3); /*darker red*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0.1rem 0.1rem rgb(143, 98, 47); /*dark mustard*/
}

header .logo{
    font-size: 5vh;
    font-weight: bolder;
    color: rgb(247, 221, 218); /*light pink*/
    text-decoration: none;
}

header .navigation_bar a{
    font-size: 2vh;
    color: rgb(247, 221, 218); /*light pink*/
    text-decoration: none;
    margin-left: 1rem;
    
}

header .navigation_bar a:hover{
    color: rgb(253, 254, 253); /*ivory*/
    text-decoration: underline;
}

section #chef{
    display: flex;
    position: relative;
    
    width: 5000px;
    max-width: 55vw;
    height: auto;
    max-height: 100%;
    margin-top: 5vh;
}

section #about{
    margin-top: 11vh;
    font-size: 2vw;
    margin-left: 7px;
    margin-right: 5px;
    font-style: italic;
    color: rgb(181, 122, 56); /*dark mustard*/
}

section #top_div{
    background-color:rgb(253, 254, 253); /*ivory*/
    display: flex;
    position: relative;
}

section .yelp-review{
    width: 95vw;
}

section #reviews{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

section #button_div{
    margin-top: 10px;
    display: flex;
    justify-content: right;
    margin-right: 5vw;
}

@media only screen and (max-width: 480px){
    header .logo{
        font-size: 1rem;
    }

    header .navigation_bar a{
        font-size: 1rem;
    }

    section #about{
        font-size: 3vw;
        margin-top: 3vh;
        width: 90vw;
        margin-right: 15vw;
    }
    
    section #top_div{
        display: block;
    }

    section #chef_div{
        display: flex;
        justify-content: center;
    }

    section #chef{
        margin-top: 8vh;
        width: 100vw;
    }
}