body{
    color: rgb(253, 254, 253); /*ivory*/
    background-color:rgb(230, 160, 41); /*midnight*/
    height: 100%;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /*very high number*/
    display: flex; /*easier to manipulate positions*/
    justify-content: space-between; /*separate logo and other links*/
    padding: 10px;

    background: rgb(122, 21, 21); /*dark red*/
    box-shadow: 0 0.6vh rgba(122, 21, 21, 0.3); /*darker red*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0.1rem 0.1rem rgb(143, 98, 47); /*dark mustard*/
}

header .logo{
    font-size: 5vh;
    font-weight: bolder;
    color: rgb(247, 221, 218); /*light pink*/
    text-decoration: none;
}

header .navigation_bar a{
    font-size: 2vh;
    color: rgb(247, 221, 218); /*light pink*/
    text-decoration: none;
    margin-left: 1rem;
    
}

header .navigation_bar a:hover{
    color: rgb(253, 254, 253); /*ivory*/
    text-decoration: underline;
}

section #menu_bar_wrapper{
    display: flex;
    justify-content: left;
}

section #menu_bar{
    position: fixed;
    top: 6vh;
    height: 95vh;
    max-width: 25vw;
    z-index: 99; /*very high number*/

    list-style-type: none;
    padding-left: 5px;
    padding-right: 2px;

    background: rgb(122, 21, 21); /*dark red*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section #menu_bar li{
    background-color: rgb(122, 21, 21); /*dark red*/
    text-decoration: none;

    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

section #menu_bar li:hover{
    background-color:rgb(13, 16, 16);/*midnight*/
}

section #menu_bar a{
    font-size: 2vh;
    color: rgb(247, 221, 218); /*light pink*/
    text-decoration: none;
}

section #menu_pgs{
    position: relative;
    top: 10vh;
}

section .menu_pg{
    margin-left: 20vw;
    width: 73vw;
    height: auto;
}

@media only screen and (max-width: 480px){
    header .logo{
        font-size: 1rem;
    }

    header .navigation_bar a{
        font-size: 1rem;
    }
}
